/* Variables */
:root {
  --background-section: gray;
}

/* Globals */
html {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.unstyled-list {
  list-style: none;
}

.link {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
}

.header-navigation,
.page-section,
.hero-section {
  background-color: var(--background-section);
}

.navigation-list li a {
  font-family: "Open Sans";
}

.sub-title-section {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.title-section {
}

.text-section {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #555555;
}

.online-booking-button {
  box-sizing: border-box;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background: rgba(25, 28, 38, 0.2);
}

/* Hero section */
.hero-sub-title-section {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.right-navigation-list {
  color: #ffffff;
  text-decoration: none;
}
.right-navigation-list li a {
  color: #ffffff;
  text-decoration: none;
}

.hero-title-section {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.hero-text-section {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* Cards section */

.card {
  width: 170px;
  height: 133px;
}
.card-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}
.card-description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #303030;
}

.sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ff6c00;
}

/* Our barbers section */

.our-barbers .image {
  width: 370px;
  height: 346px;
}

.our-barbers .title {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.our-barbers .occupation {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}
